<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Semantica grid</title>
    <link rel="stylesheet" href="semantica.css">
</head>
<body>
        <!--para elegir varias lineas ctrl+alt+shift+flechadireccional
        para replicar una linea shift+alt+tecla para abajo-->
        <header>
            <nav>
                <ul class="navbar">
                    <li class="lista"><a href="tablas.html">Tablas</a></li>
                    <li class="lista"><a href="formulario.html">Formulario</a></li>
                    <li class="lista"><a href="inputs.html">Inputs</a></li>
                </ul>
            </nav>
        </header>
        
        <main>
            <article class="articulo">
                
                <section class="seccion1">Seccion1</section>
                <section class="seccion2">Seccion2</section>
                <section class="seccion3">Seccion3</section>
            </article>
            <footer class="piedepagina">Footer main</footer>
        </main>                 
        <aside>
            <section class="cuadrado1">Seccion2</section>
            <section class="cuadrado2">Seccion1</section>
        </aside>
        
        <footer>
           <p> @Copyright Argentina Programa 4.0</p> 
        </footer>
</body>
</html>